body {
	background: #000000;
	color: #ffffff;
	font-family: 'Lato',sans-serif;
	margin: 0px 100px 0px 100px;
}

a {
	color: #ffffff;
}

img {
	border: 2px solid #ffffff;
}

.jobtitle {
	font-style: italic;
	font-weight: bold;
}

